<!--<a class="nav-lst" href="/new-user">New User</a> -
<a class="nav-lst" href="/userlist">User List</a> -
<a class="nav-lst" href="/home">Home</a> -
<a class="nav-lst" href="/admin">Admin</a> -->
<ul>
    <li class="col-md-2"><a href="/new-user">Bilgisayar Mühendisliği</a></li>
    <li class="col-md-2"><a href="/userlist">Elektrik Mühendisliği</a></li>
    <li class="col-md-2"><a href="/posts/">Elektronik-Haberleşme Mühendisliği</a></li>
    <li class="col-md-2"><a href="/posts/">İnşaat Mühendisliği</a></li>
    <li class="col-md-2"><a href="/posts/">Kimya Mühendisliği</a></li>
    <li class="col-md-2"><a href="/home">Makine Mühendisliği</a></li>
    {# <li class="col-md-2"><a href="/admin">Admin</a></li> #}
   <!-- <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div> -->
</ul>