{% extends "base.html" %}

   {% block head_title %} PostList | {{ block.super }} {% endblock head_title %}

{% block content %}

<div style="margin-top:25px;">
	<h1 style="display: inline;"> <b>The List Of Posts!</b> </h1>
	<br class="visible-xs"> <span class="hidden-xs">|</span> 
	<a href="{% url 'post-create' %}"><h3 style="display: inline;">New Post</h3></a> <br>
</div>

{% if post_list %}
	
{% for obj in object_list %}
<div class="row">
	<div class="col-sm-12" style="margin: 15px 0 15px; ">
		<div class="thumbnail" style="padding: 10px; ">
			<h4>{{ obj.title }}</h4>
			<p><a href="{% url "post-detail" post_id=obj.pk %}">Go to Post</a> | {{obj.category}}</p>
		</div>
	</div>
</div>

{% endfor %}

{% else %}
<p class="lead" style="margin-top:25px;">Makale Bulunamadı :(</p>
{% endif %}
{% endblock content %}
