{% extends 'base.html' %}
{% load staticfiles %}
{% block cssfiles %}    <link rel="stylesheet" type="text/css" href="{% static 'user_authentication/style.css' %}"> {% endblock cssfiles %}

{% block content %}

<section>
    <div class = signupForm>
        <h3>Create Account</h3>
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {% for field in form %}
                <br> {{ field.label_tag }} <br> {{ field }}
                {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text|safe }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error|safe }}</p>
                {% endfor %}
            {% endfor %}
            <button type="submit">Sign up</button>
        </form>
    </div>
</section>

{% endblock content %}